<header class="pageTitle">Books</header>

<% if user_signed_in? && current_user.role.name == ROLE_ADMIN %>
  <button class="btn elBtn" id="btnNewBook">
    <%= link_to 'New Book', new_book_path, class: "btn elBtn" %>
  </button>
<% end %>

<% @books.each do |book| %>

  <div class="elContainer">

    <div class="el col-lg-10">

      <div class="elHeader">
        <%= book.book_name %>
      </div>

      <div class="elSubtitle">
        By <%= book.author_name %>
      </div>

    </div>

    <div class="flexWrapper elButtons">
      <div class="primaryButtons flexContainer">
        <button class="btn elBtn" data-id="<%= book.id %>" onClick="showBookDetails(this)">
          Details
        </button>
      </div>

      <% if current_user.role.name == ROLE_ADMIN %>
        <div class="extraButtons flexContainer">
          <button class="btn elBtn" data-id="<%= book.id %>" onClick="editBook(this)">
            Edit
          </button>
          <button class="btn elBtn" data-id="<%= book.id %>" onClick="deleteBook(this)">
            Delete
          </button>
        </div>
      <% end %>
    </div>

  </div>

<% end %>

<!-- Modal -->
<div class="modal fade" id="bookInfoModal" tabindex="-1" role="dialog" aria-labelledby="bookDetailsModalCentered" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookInfoModal">Book Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
    setNavActive("books");
</script>