<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Browser and Forum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag :application %>
    <% if not devise_controller? %>
      <%= stylesheet_link_tag params[:controller]%>
    <% end %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="/">COM2025</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active" id="nav-home">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item" id="nav-books">
            <a class="nav-link" href="/books">Books</a>
          </li>
        </ul>

        <% if user_signed_in? %>
          <span id="accAction"><%= link_to "Sign Out", destroy_user_session_path, :class => "nav-item nav-link" %></span>
        <% else %>
          <span id="accAction"><%= link_to "Log In", new_user_session_path, :class => "nav-item nav-link" %></span>
        <% end %>
        
        <% if user_signed_in? %>
          <span class="navbar-text">
            Logged in as <%= current_user.email %>
          </span>
        <% end %>
      </div>
    </nav>
        
    <!-- Content -->
    <main>

      <!-- Devise -->
      <% if notice %>
          <div id="noticeContainer">
            <p class="alert alert-success"><%= notice %></p>
          </div>
      <% end %>
      <% if alert %>
          <div id="noticeContainer">
            <p class="alert alert-danger"><%= alert %></p>
          </div>
      <% end %>

      <!-- Render main content -->
      <%= yield %>

    </main>

  </body>
</html>